body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

#wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top: 1em;
}

a {
  z-index: 1;
}

.highlight {
  background-color: white;
  border-radius: 0.5em;
}